.profilePage {
  margin-top: 100px;
  width: auto;
}

.profile_btn {
  display: flex;
  justify-content: end;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 50px !important;
  background-color: var(--secondary-color--);
  color: var(--white);
  height: 40px;
  width: 40px;
}

.profile_btn:hover {
  display: flex;
  justify-content: end;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 50px !important;
  background-color: var(--secondary-color-shade--) !important;
  color: var(--white);
}

.profile_btn_wrapper {
  display: flex;
  align-items: end;
  width: auto;
}

.profile_picture {
  width: 170px;
  height: 170px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile_picture_wrapper {
  display: flex;
  justify-content: start;
}

.userInfo {
  margin-left: 20px;
}

.userInfo h2 {
  margin-bottom: 20px;
}

.name {
  margin-top: 40px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-family: var(--font-family);
}

.nav_list {
  padding: 0;
  margin-top: 30px;
}

.nav_list li {
  display: block;
  margin-bottom: 10px;
}
