a{
    text-decoration: none;
}

.edit-btn{
    width: 60px !important;
    background-color: var(--primary-color--)!important;
    color: white !important;
}

.btn-delete {
    width: 60px !important;
}

.fa-trash{
    color: red !important;
}