.campaign .card-img-top {
  border-radius: 50px;
  padding: 20px;
}

.campaign {
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-bottom: 20px;
}

.campaign .card-body {
  padding: 25px;
  margin-top: -15px;
}

.campaign button {
  border-radius: 50px;
  width: 120px;
  background-color: var(--primary-color--);
}
.campaign h3,
h5 {
  color: rgba(48, 164, 227);
}
