.create-campaign {
  background-color: var(--primary-color--);
  height: 140vh;
  display: flex;
  align-items: center;
}
.create-campaign a{
    color: var(--primary-color--) !important;
}
.create-campaign h2 {
  padding-top: 1.5rem;
}

.create-campaign a {
  color: #333;
}

.create-campaign .card {
  border-radius: 40px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.create-campaign .form-control {
  background-color: #f8f9fa;
  padding: 15px;
  padding: 15px 5px;
  margin-bottom: 1.3rem;
}

.create-campaign .form-control:focus {
  color: #000000;
  background-color: #ffffff;
  border: 3px solid var(--secondary-color--);
  outline: 0;
  box-shadow: none;
}

.create-campaign .btn {
  padding: 0.6rem 1.2rem;
  background: var(--secondary-color--);
  border: 2px solid var(--secondary-color--);
  border-radius: 40px;
}
.create-campaign .btn:hover {
  background-color: var(--secondary-color--);
  border-color: var(--secondary-color--);
  transition: 0.3s;
}
