.campaignDetails .donate-btn {
  border-radius: 5px;
  border: 1px solid var(--primary-color--);
  color: var(--primary-color--) !important;
  background-color: var(--white);
  transition: all 0.4s ease-in-out;
  margin-top: 20px;
}
/* styles.css */
@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

.congratulations-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Rocher', sans-serif; /* Use Rocher font */
  font-size: 50px; /* Adjust font size as needed */
  color: #ff8c00; /* Set custom color */
  background-color: transparent; /* Remove background color */
  border: none; /* Remove border */
  transition: opacity 0.5s ease; /* Add transition for opacity */
  opacity: 1; /* Ensure initial opacity is 1 */
}

.campaignDetails .other-campaign-details{
  margin-bottom: 50px;
}

.campaignDetails .campaign_img{
  width: 700px !important;
  height: 300px; 
  object-fit: cover;
}

.campaignDetails .donation_deadLine {
  font-size: 18px;
  font-weight: 700;
  color: var(--secondary-color--); /* Highlighted color */
  border-bottom: 2px solid var(--secondary-color--); /* Bottom border to make it stand out */
  padding-bottom: 2px; /* Add some space between the text and the border */
}